[project]
	description = "G3log is  an asynchronous, "
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ymiroshnyk
[access "refs/for/refs/*"]
	read = group user/ymiroshnyk
	push = group user/ymiroshnyk
	label-Code-Review = -2..+2 group user/ymiroshnyk
	label-Verified = -1..+1 group user/ymiroshnyk
	rebase = group user/ymiroshnyk
	removeReviewer = group user/ymiroshnyk
	submit = group user/ymiroshnyk
[access "refs/heads/*"]
	read = group user/ymiroshnyk
	create = group user/ymiroshnyk
	push = +force group user/ymiroshnyk
	pushMerge = group user/ymiroshnyk
[access "refs/tags/*"]
	push = group user/ymiroshnyk
	push = +force group user/ymiroshnyk
